/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url(./fonts/ubuntu/ubuntu.css);
@import url(./fonts/lato/lato.css);
@import url(./fonts/iosevka/iosevka.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #339;

$mainFontSize: 30px;
$mainFont: Lato, 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: Lato, 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.5px;
$headingTextTransform: none;
$headingFontWeight: 700;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.6em;
$heading2Size: 1.6em;
$heading3Size: 1.6em;
$heading4Size: 1.6em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
  COLORED BULLETS
 *********************************************/

.reveal li {
    line-height: 1.6em;
}

.reveal li::marker {
    color: $headingColor;
}

.reveal section > :is(ul, ol) > li > ul > li::marker {
    content: "–\00a0";
    font-weight: bold;
}

.reveal section > :is(ul, ol) > li > :is(ul, ol) > li > ul > li::marker {
    content: "-\00a0\00a0";
}

.reveal section > :is(ul, ol) > li > :is(ul, ol) {
    font-size: 28px;
}

.reveal section > :is(ul, ol) > li > :is(ul, ol) > li > :is(ul, ol) {
    font-size: 26px;
}

/*********************************************
 * OVERRIDEN CSS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3,
.reveal h4, .reveal h3, .reveal h6 {
    word-spacing: 2px;
}

.reveal h1, .reveal h2 {
    color: $mainColor;
}

.reveal mark {
    color: $headingColor;
    background-color: transparent;
    font-weight: 700;
}

.reveal code, .reveal pre {
    font-family: Iosevka;
    font-weight: 400;
}

.reveal pre {
    font-size: 0.9em;
    box-shadow: none;
    overflow: visible;
}

.reveal pre code {
    padding: 16px;
    overflow: visible;
}

.reveal dl {
    margin: 1em;
}

.reveal table {
    font-size: 0.75em;
    margin-top: 0.25em;
}

/*********************************************
 * CUSTOMIZED CLASSES
 *********************************************/

.reveal i.em {
    margin: 0 .2em;
    transform: scale(1.2);
}

.reveal table i.em {
    margin: 0;
    transform: scale(1);
}

.reveal i.fa {
    font-family: FontAwesome;
    font-style: normal;
}

.reveal a.external-link,
.reveal a.external-link:hover {
    color: $mainColor;
}

.reveal a.external-link::after {
    content: ' \f08e';
    font-family: FontAwesome;
}

.reveal .greyout {
    opacity: 0.4;
}

.reveal #reference + ol {
    font-size: 20px;
}

.reveal section > .footnote > a,
.reveal #reference + ol li > a {
    color: $mainColor;
}

.reveal section > .footnote > a:hover,
.reveal #reference + ol li > a:hover {
    color: lighten( $mainColor, 30% );
}

.reveal #reference + ol li::marker {
    content: "[" counter(list-item) "]\00A0";
    color: $mainColor;
}

/*********************************************
 * FOOTNOTE
 *********************************************/

.reveal.center .slides section,
.reveal.center .slides section > section {
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 0;
}

.reveal .slide-number {
    color: rgba(0, 0, 0, .4);
    background-color: transparent;
}

.reveal section > h1:first-child {
    display: none;
}

.reveal section > h1:first-child + h2 {
    margin: 15% 0 5%;
}

html:not(.print-pdf) .reveal section > h4:first-child {
    align-self: flex-start;
    margin-left: 3%;
}

html:not(.print-pdf) .reveal section > :is(ul, ol) {
    align-self: flex-start;
    margin-left: 6%;
}

html:not(.print-pdf) .reveal section > .footnote {
    margin-block-start: auto;
    margin-block-end: 35%;
    font-size: 0.5em;
    text-align: left;
    width: 90%;
}

html.print-pdf .reveal.center .slides section,
html.print-pdf .reveal.center .slides section > section {
    top: 20% !important;
    min-height: 0 !important;
}

html.print-pdf .reveal section > h4:first-child {
    text-align: left;
    margin-left: 3%;
}

html.print-pdf .reveal section > :is(ul, ol) {
    display: block;
    margin-left: 6%;
}

html.print-pdf .reveal section > .footnote {
    font-size: 0.5em;
    text-align: left;
    margin: 5%;
}

html.print-pdf .reveal section > .footnote::before {
    content: '';
    height: max-content;
}

/*********************************************
 * FIX BACKGROUNDS
 *********************************************/

html.print-pdf .slide-background-content {
    background-image: unset !important;
}

html.print-pdf .pdf-page {
    background-size: cover;
    background-image: url("../../assets/background.svg");
}
